
#im1{
    background-image: url('https://wallpaperplay.com/walls/full/4/4/c/319255.jpg');
    background-repeat: no-repeat;
    background-size: 100%;  
   
    height: 100vh;
    
    font-family: Roboto;
    color:white;
} 
#tes2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: violet;
}
#impage2{
    background-image: url(https://wallpaperplay.com/walls/full/d/f/6/319273.jpg);
    background-repeat: no-repeat;
    background-size: 100%;  
   
    height: 100vh;
    
   
    color:white;
  
}
#carouselControls{
    height: 100%;
    
    }

#test2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: violet;
}
#couleur{
    background-image: url(https://wallpaperplay.com/walls/full/4/4/9/319283.jpg);
    background-repeat: no-repeat;
    font-family: Roboto;
    color:white;
  
}
#imc{
   margin-left: 100px;
}

#imagep{
    background-image:url(https://wallpaperplay.com/walls/full/6/0/6/319225.jpg);
    background-repeat: no-repeat;
    background-size: 100%;  
   
    height: 100vh;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    
}
.it{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    line-height: 32px;
}
#imgbd{
background-image: url(https://wallpaperplay.com/walls/full/7/e/7/319226.jpg);
background-repeat: no-repeat;
    background-size: 100%;  
   
    height: 100vh;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
}